<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/adminHeader :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/adminHeader :: nav"></div>
    <hr/>
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-4">
            Current token balance:
        </div>
        <div class="col-6" th:text="${accountBalance}"></div>
    </div>
    <div class="row">
        <div class="col-6" th:text="${coordinatorCount}"></div>
    </div>
    <div class="row">
        <div class="col-6" th:text="${volunteerCount}"></div>
    </div>
    <div class="row">
        <div class="col-6" th:text="${businessCount}"></div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-secondary"  onclick="location.href='/admin/transactionList';">Transactions</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-secondary"  onclick="location.href='/admin/volunteerList';">Volunteers</button>
    </div>
</div>
</body>