<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/adminHeader :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/adminHeader :: nav"></div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Registered volunteers</th>
                <th scope="col">Balance</th>
            </tr>
            </thead>
            <tbody>
                <div th:if="${not #lists.isEmpty(accounts)}">
                    <tr th:each="account : ${accounts}">
                        <th scope = "row">
                            <a th:id="@{accountLink{id} (id=${account.id})}"
                               th:href="@{/admin/volunteerAccount/{id} (id=${account.id})}">
                                <span th:text="${account.accountName}"></span>
                            </a>
                        </th>
                        <td th:text="${account.balance}"></td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>
</body>