<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/adminHeader :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/adminHeader :: nav"></div>
    <hr/>
    <div class="row">
        <h2>Add tokens</h2>
    </div>
    <div class="row">
        <div class="col-6">
            Add tokens to account.
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Current total of tokens in account:
        </div>
        <div class="col-6" th:text="${accountBalance}"></div>
    </div>
    <form action="#" th:action="@{/admin/addTokens}" th:object="${tokenForm}" method="POST">
        <div class="form-group">
            <label for="number-input">*Number of tokens to be created: </label>
            <input type="number" id="number-input" th:field="*{numberOfTokens}"/>
            <span th:if="${#fields.hasErrors('numberOfTokens')}" th:errors="*{numberOfTokens}"></span>
        </div>
        <div class="form-group">
            <label for="who-input">*Your name: </label>
            <input type="text" id="who-input" th:field="*{whoCreated}"/>
            <span th:if="${#fields.hasErrors('whoCreated')}" th:errors="*{whoCreated}"></span>
        </div>
        <button type="submit" class="btn btn-primary" value="Submit charity">Submit</button>
    </form>
    <div class="row">
        <div class="col-6">
            Note: All fields marked with * must be filled in
        </div>
    </div>
</div>
</body>