<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/adminHeader :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/adminHeader :: nav"></div>
    <hr/>
    <div class="row">
        <h1 th:text="${chosenAccount.accountName}"></h1>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Information</th>
                <th scope="col">Output</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope = "row">
                <span>Account balance</span>
                </th>
                <td th:text="${chosenAccount.balance}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>