<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/adminHeader :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/adminHeader :: nav"></div>
    <hr/>
    <h1>Transactions</h1>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Created by</th>
                <th scope="col">Memo</th>
            </tr>
            </thead>
            <tbody>
            <div th:if="${not #lists.isEmpty(transactions)}">
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.createdOn}"></td>
                    <td th:text="${transaction.transactionType}"></td>
                    <td th:text="${transaction.createdBy}"></td>
                    <td th:text="${transaction.memo}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>