<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/adminHeader :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/adminHeader :: nav"></div>
    <hr/>

    <table>
        <tr>
            <th>Name</th>
            <th>Associated Charity</th>
            <th>Balance</th>
        </tr>
        <tr th:each="coordinator : ${coordinators}">
            <td th:text="${coordinator.account.accountName}">
            <td th:text="${coordinator.associatedCharity}">
            <td th:text="${coordinator.account.balance}">

        </tr>



    </table>
</div>
</body>
