<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/adminHeader :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/coordinatorHeader :: nav"></div>
    <hr/>
    <h1>Tokens added successfully</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">Payed to: </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div th:text="${payedTo}"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">Amount: </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div th:text="${payedAmount}"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">Your current balance: </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div th:text="${yourTotal}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>