<!DOCTYPE html>
<!--accessing thymeleaf-->
<!--<html lang = "en" xmlns:th = "http://www.thymeleaf.org" >-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/adminHeader :: head">
    <meta http-equiv = "Content-Type" content = "text/html; charset=UTF-8" />
    <title> Registration Form </title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/adminHeader :: nav"></div>
    <hr/>
    <!--<div class = "header">-->
<!--allowing the users to register more than one volunteer (iterative thymeleaf)-->
<div th:each = "volunteer : ${volunteers}" >
    <div th:object = "${volunteer}" >
        <span th:text = "*{registrationDate}" />
        <span th:text = "*{volunteerName}" />
        <span th:text = "*{volunteerAddress}" />
        <span th:text = "*{volunteerPostCode}" />
        <span th:text = "*{volunteerPhoneNo}" />
        <span th:text = "*{emergencyContactNo}" />
        <span th:text = "*{volunteerEmail}" />
        <span th:text = "*{isMHATenant}" />
        <span th:text = "*{isVolunteer}" />
        <span th:text = "*{isDisabilities}" />
        <span th:text = "*{isMedicalConditions}" />
        <span th:text = "*{volunteerAllergies}" />
    </div >
</div >
<!--html form to allow registering of volunteers-->
<div class="row">
    <h1> Register Volunteers </h1>
</div>
    <div class="row">
        <div class="col-6">
            Please fill out the form below.
        </div>
    </div>
    <form action="#" th:action="@{/volunteerRegister}" method="post">
        <!--fields in the form based on the register form given by MHA-->
        <p> ID </p>
        <input type = "text" placeholder = "Enter ID" name = "id"/>
        <p> </p>
        <p> Registration Date </p>
        <input type = "text" placeholder = "Enter Registration Date" name = "registrationDate"/>
        <p> </p>
        <p> Name </p>
        <input type = "text" placeholder = "Enter Name" name = "volunteerName"/>
        <p> </p>
        <p> Address </p>
        <input type = "text" placeholder = "Enter Address" name = "volunteerAddress"/>
        <p> </p>
        <p> Post Code </p>
        <input type = "text" placeholder = "Enter Post Code" name = "volunteerPostCode"/>
        <p> </p>
        <p> Phone Number </p>
        <input type = "text" placeholder = "Enter Phone number" name = "volunteerPhoneNo"/>
        <p> </p>
        <p> Emergency Contact Number </p>
        <input type = "text" placeholder = "Enter Emergency Contact Number" name = "emergencyContactNo"/>
        <p> </p>
        <p> Email Address </p>
        <input type = "text" placeholder = "Enter Email Address" name = "volunteerEmail"/>
        <p> </p>
        <p> MHA Tenant? </p>
        <input type = "checkbox" value="Yes" name = "isMHATenant"/>
        <input type = "checkbox" value="No" name = "isMHATenant"/>
        <p> </p>
        <p> Have you previously volunteered for MHA or any other organisation? </p>
        <input type = "checkbox" value="Yes" name = "isVolunteer"/>
        <input type = "checkbox" value="No" name = "isVolunteer"/>
        <p> If yes, who have you volunteered for and what was your role? </p>
        <input type = "text" name="isVolunteer"/>
        <p> </p>
        <p> Do you have any disabilities or support needs you may require help with to enable you to fully participate in this scheme? </p>
        <input type = "checkbox" value="Yes" name = "isDisabilities"/>
        <input type = "checkbox" value="No" name = "isDisabilities"/>
        <p> If yes, please provide details: </p>
        <input type = "text" name = "isDisabilities"/>
        <p> </p>
        <p> Do you have any medical conditions or take any medications you feel MHA would need to be aware if you became unwell whilst volunteering? </p>
        <input type = "checkbox" value="Yes" name = "isMedicalConditions"/>
        <input type = "checkbox" value="No" name = "isMedicalConditions"/>
        <p> If yes, please provide details: </p>
        <input type = "text" name = "isMedicalConditions"/>
        <p> </p>
        <p> Do you have any known allergies? </p>
        <input type = "text" placeholder = "Enter Allergies if any" name = "volunteerAllergies"/>
        <p> </p>
        <button type = "submit" > Register </button >
    </form>
</div>
</body>
</html>